.friend {
  /*friend 클래스는 2개의 column을 갖고 있다*/
  display: flex;
  justify-content: space-between; /* 2개의 column에 간격을 준다 */
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 38%;
}

.friend__avatar.g-avatar {
  width: 70px;
}

.friend__avatar.m-avatar {
  width: 60px;
}

.friend .friend__column {
  display: flex; /* 유저의 이름과 상태메세지를 사진 옆에 일렬로 제시 */
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px; /* 유저의 사진오른쪽에 마진을 주어 이름과 간격을 유지한다.*/
}

.friend__content .friend__name {
  display: block; /* 유저의 이름을 block함으로서 상태를 아래로 내린다, 즉 유저이름과 상태가 두줄이 됨. */
  margin-bottom: 5px; /*유저 이름의 bottom에 마진을 줌으로서, 유저이름과 생태 사이의 공간에 간격을 줌 */
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}

.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  font-size: 12px;
}

.friend .friend__now-listening {
  border: 2px solid #52e084;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
}

.friend__now-listening span {
  opacity: 0.7;
}

.friend__now-listening i {
  font-size: 12px;
}

.friend__add-btn {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
}
