.friends .friends__plus {
  margin-top: 20px;
  padding: 20px 0px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  margin: 20px 0px;
}

.friends-body {
  min-height: 200vh; /*friends html 코드의 body에 class를 입히고, class를 지정하여 css측면에서
  min-height를 적용하면 body부분의 스크롤을 지정할 수 있음. */
}

.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.7; /*  검은색을 점점 흐리게 함. (회색 대용) */
  margin-bottom: 15px;
}

.friend__content .friend__name {
  display: block;
  margin-bottom: 5px;
}

.friend__column {
  margin-bottom: 20px;
}
